.comments-list {
  text-align: left;
  list-style: none;
}

.comment-block {
  margin: 20px 20px 20px 80px;
}

.comment-container .header {
  font-size: 14px;
  background-color: bisque;
  padding: 10px 15px 10px 15px;
  border: #ffa0a0 solid 1px;
  border-bottom: none;
  margin: 0;
  color: gray;
}

.comment-container .content {
  background-color: cornsilk;
  padding: 0 15px 0 15px;
  border: #ffa0a0 solid 1px;
  margin: 0;
}

.content-child {
  padding: 0;
}

.timestamp {
  color: inherit;
}

.avatar-container {
  border-radius: 5px;
  float: left;
  position: relative;
  margin-left: -65px;
}

.avatar {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 5px;
  border-style: none;
  display: inline-block;
}

