.comments-list {
  text-align: left;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.comment-block {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.comment-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.comment-container .header {
  font-size: 14px;
  background-color: bisque;
  padding: 10px 15px 10px 15px;
  border: #ffa0a0 solid 1px;
  border-bottom: none;
  margin: 0;
  color: gray;
}

.comment-container .content {
  background-color: cornsilk;
  padding: 15px 15px 0 15px;
  border: #ffa0a0 solid 1px;
  margin: 0;
}

.content-child {
  padding: 0;
}

.timestamp {
  color: inherit;
}

.avatar-container {
  display: flex;
  border-radius: 5px;
  width: 100px;
  height: 100%;
}

.avatar {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  border-radius: 5px;
  border-style: none;
  display: inline-block;
}

.current-user-avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: 5px;
  border-style: none;
  display: inline-block;
}

/* small screens */
@media all and (max-width: 500px) {
  .avatar {
    width: 50px;
    height: 50px;
  }
}

.view-on-github {
  color: black;
}
